# <span style="color:orange">30/05 - Pair Regresión 4- Alicia y Lidia</span>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings( "ignore", module = "seaborn\..*" )
import sidetable
import statsmodels.api as sm
import pylab as py
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import MinMaxScaler, OrdinalEncoder, StandardScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [5]:
df = pd.read_csv('tiktok_top_1000_2".csv', index_col=0)
df

,rank,account,subscribers_count,views_avg.,likes_avg.,comments_avg.,shares_avg.
0,1,billieeilish,41600000.0,95000000.0,18100000.0,151000.0,54800.0
1,2,badbunny,13400000.0,33300000.0,7300000.0,101900.0,106800.0
2,3,chipmunksoftiktok,11400000.0,25000000.0,3000000.0,21800.0,64200.0
3,4,charlidamelio,135400000.0,18700000.0,2600000.0,54700.0,35200.0
4,5,yessicadcs,263700.0,16700000.0,1400000.0,16200.0,138400.0
...,...,...,...,...,...,...,...
995,996,leleburnier,1100000.0,1200000.0,284300.0,2800.0,968.0
996,997,sofiadelmonstro,5200000.0,2600000.0,161200.0,1300.0,1600.0
997,998,jena,10500000.0,2800000.0,320300.0,856.0,512.0
998,999,christiandaloii_,2700000.0,1100000.0,188600.0,3000.0,2900.0
999,1000,davidgetial,13200000.0,2300000.0,337500.0,1400.0,212.0

Tomando los datos del mejor modelo obtenido en la clase de la pair de ayer.
- Investiga la multicolinealidad de las variables independientes.
- Selecciona aquellas variables que tengan una colinealidad dentro de los margenes estandar. Mostrando como se han ido eliminando las variables y como han cambiado los resultados del VIF.
- Realiza un modelo de regresión lineal multiple para ver si se han mejorado los resultados obtenidos.
- Estudia si tus resultados son acordes a las asunciones de linealidad.

In [ ]:
def get_VIF(dataframe, target):
        X = add_constant(dataframe.loc[:, dataframe.columns != target])
        seriesObject = pd.Series([variance_inflation_factor(X.values,i) for i in range(X.shape[1])] , index=X.columns,).sort_values(ascending= False)
        return seriesObject

In [ ]:
get_VIF(df,'price')

Toma ahora el dataset del mejor modelo obtenido y aplica los siguentes modelos de regresión con regularización.
- Ridge
- Lasso.

Compara los resultados del ajuste lineal multiple donde se han eliminado variables y los obtenidos aplicando las regresiones de tipo Ridge y Lassso. Explica los resultados obtenidos.